/* Add any CSS you want in here! */

/* ul.has-children:first-child {
  background: blue;
} */

.has-children:nth-child(even) {
  background: lime;
}

/* ul.has-children:nth-last-child() {
  background: palevioletred;
} */
